* {
    margin: 0;
    padding: 0;
    color: rgb(51, 51, 51);
    font-family: Inter, sans-serif;
    box-sizing: border-box;
  }
header{
    height: 100px;
    background-color: #0097DB;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img-logo{
    width: 230px;
    margin-right: 20px;
}
input:focus{
    outline: none;
}

input{
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 24px;
    flex-grow: 1;
}

#search-button {
    width: 80px;
    border: none;
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 30px;
    cursor: pointer;
    border-left: 1px solid rgb(190, 190, 190);
}

form{
    background-color: white; 
    border-radius: 20px;
    width: 730px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
}
#weather-container{
    margin-top: 50px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #ddd; 
    box-shadow: 0 0 10px rgba(0, 0, 0); 
}

#weather-container > div{
    display: flex;
    flex-direction: row;
}
#temperature-container{
    flex-direction: row;
}